.#{app} {
  width: 100%;
  height: 100%;
  // min-width: 36rem;
  header {
    input {
      &:focus::placeholder {
        color: transparent;
      }
    }
  }
  &.main {
    // height: 100%
    .visual {
      background-color: #3579b7;
      padding: 7.8rem 0 9.7rem;
      & > .container {
        position: relative;
        height: 100%;
        padding: 0 9rem;
        box-sizing: content-box;
        overflow: hidden;
      }
    }
  }
  footer {
  }
  .container {
    max-width: 110rem;
    margin: 0 auto;
    &.form-container {
      height: 100%;
      padding: 10rem 0 8rem;

      .ly-form-group {
        height: 100%;
      }
    }
  }
  &.setting {
    .app-contents {
      background-color: #f7f8fa;
    }

    .app-footer {
      background-color: #f7f8fa;
      border-top: 0.1rem solid #e6e6e6;
    }
  }
}
