input {
  width: 100%;
  height: 4.2rem;
  border: 0.2rem solid #000000;
  border-radius: 10rem;
  padding: 0 2rem;
}

select {
  width: 100%;
}
.search-area {
  input {
    &[type*='text'] {
      background: url('../img/input_searc_btn.png') no-repeat 1.6rem center /
        2.2rem 2.2rem;
      padding-left: 4.5rem;
    }
  }
  & + .header-icon {
    margin-left: 2.9rem;
  }
}
.ly-form {
  width: 54rem;
  margin: 0 auto;
  & + .ly-form {
    border-top: 0.1rem solid #000000;
    margin-top: 1.8rem;
  }
  .row-group {
    & + .row-group {
      margin-top: 1.8rem;
    }
  }
  .form- {
    &group {
      border: 0.1rem solid #989898;
      border-radius: 0.5rem;
      .form-area {
        input {
          border: 0;
        }
        & + .form-area {
          border-top: 0.1rem solid #989898;
        }
      }
    }
    &area {
      input {
        height: 5.9rem;
        border: 0.1rem solid #989898;
        border-radius: 0.5rem;
        padding: 0 2.1rem;
      }
    }
  }

  .form-ty-submit {
    display: flex;
    align-items: center;
    .form-area {
      width: calc(100% - 15.8rem);
      & + * {
        margin-left: 1.8rem;
      }
    }
  }

  .check-area {
    display: flex;
    align-items: center;
    padding: 2rem 0 2rem 2rem;
    &.login {
      justify-content: space-between;
      margin-top: 1.8rem;
      padding: 0;
      input {
        &[type*='checkbox'] {
          & + label {
            color: #7c8594;
            &::after {
              border: 0.1rem solid #7c8594;
            }
          }
          &:checked {
            & + label {
              &::after {
                content: '';
                background-color: black;
              }
            }
          }
        }
      }
      .find- {
        &user {
          font-size: 1.5rem;
          color: #7c8594;
          & + .find-user {
            margin-left: 0.9rem;
          }
        }
      }
    }
    &.agree-check {
      display: block;
      padding: 0;
      padding-top: 1.8rem;
      .form-area {
        & + .form-area {
          margin: 0;
          margin-top: 1rem;
        }
      }
      input {
        &[type*='checkbox'] {
          & + label {
            color: #7c8594;
            &::after {
              border: 0.1rem solid #7c8594;
            }
            a {
              color: #7c8594;
              text-decoration: underline;
            }
          }
        }
      }
    }
    input {
      &[type*='checkbox'] {
        display: none;

        & + label {
          position: relative;
          font-size: 1.5rem;
          color: #000000;

          padding-left: 2.1rem;
          &::after {
            content: '';
            position: absolute;
            top: 0.2rem;
            left: 0;
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            border: 0.1rem solid #000000;
            border-radius: 0.3rem;
          }
        }
        &:checked {
          & + label {
            &::after {
              content: '';
              background-color: black;
            }
          }
        }
      }
    }
    .title {
      font-size: 1.8rem;
      font-weight: 700;
      & + .form-area {
        margin-left: 2.8rem;
      }
    }
    .form-area {
      & + .form-area {
        margin-left: 1.8rem;
      }
    }
  }
  .btn-group {
    &.btn-group-login {
      margin-top: 1.8rem;
      button {
        + button {
          margin-top: 1.8rem;
        }
      }
    }
  }
}
