@media (max-width: 1023px) {
  

  .tbl-box .ui-tr.tbl-head {
    display: none;
  }
  .tbl-box .ui-tr {
    display: block;
    border-top: 0.1rem solid #b2b3b2;
    padding: 2rem 1.5rem;

  }
  .tbl-box .ui-tr .ui-td {
    display: block;
    height: auto;
    line-height: inherit;
    border: 0;
    margin-top: 1rem;
    padding-left: 0;

  }
  .tbl-box .ui-tr .ui-td.tbl-title {
    width: 100%;
    font-weight: 400;
    margin-top: 0;
  }
  .tbl-box .ui-tr .ui-td.tbl-date {
    display: inline-block;
    width: auto;
    font-size: 1.3rem;
  }
  .tbl-box .ui-tr .ui-td.tbl-writer {
    display: inline-block;
    width: auto;
  }
  .tbl-box .ui-tr .ui-td.tbl-space {
    display: inline-block;
    width: auto;
  }

  .app-contents .menu-list-group .list-item {
    padding-top: 0;
  }
  .app-contents .menu-list-group .list-item li {
    display: block;
    border-top: 0.1rem solid #b2b3b2;
    padding: 2rem 0;
  }
  .app-contents .menu-list-group .list-item li:first-child {
    border-top: 0;
  }
  .app-contents .menu-list-group .list-item li + li {
    margin-top: 0;
  }
  .app-contents .menu-list-group .list-item li .con-left {
    display: block;
    width: auto;
  }

  .app-contents .menu-list-group .list-item li .con-right {
    width: auto;
    margin-top: 1rem;
  }

  .ly-form .check-area {
    display: block;
    padding: 2rem 0;
  }
  .ly-form .check-area .form-depth {
    margin-left: 0;
    margin-top: 1rem;
  }


  .app-contents .contents-area .map-area {
    padding-top: 4rem;
  }
  .app-contents .contents-area .map-area .map-box .map-desc {
    display: block;
  }
  .app-contents .contents-area .map-area .map-box .map-desc::before {
    content: none;
  }
  .app-contents .contents-area .map-area .map-box .map-desc .cont-left .contact-area {
    display: block;
  }
  .app-contents .contents-area .map-area .map-box .map-desc .cont-left {
    padding: 0 1.2rem;
  }
  .app-contents .contents-area .map-area .map-box .map-desc .cont-right {
    padding: 0 1.2rem;
  }
  .app-contents .contents-area .map-area .map-box .map-desc .desc {
    line-height: 1.4;
    margin: 0 0 2.4rem;
  }
  .app-contents .contents-area .title + .desc {
    margin-bottom: 3rem;
  }

  .app-contents .contents-area .map-area .map-box {
    padding-top: 2.5rem;
  }
}

@media (max-width: 620px) {
  .ly-form .check-area .form-depth {
    display: block;
  }

  .ly-form .form-area input {
    height: 4.2rem;
    padding: 0 0.7rem;
  }
  .ly-form .check-area .form-depth .form-area + .form-area {
    margin-left: 0;
    margin-top: 1rem;
  }
  .ly-form .form-ty-submit .form-area + * {
    margin-left: 1rem;
  }

  .check-gorup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }
  .ly-form .check-area .check-gorup:before {
    content: "";
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 0.1rem;
    height: 6.5rem;
    background-color: #b2b3b2;
    transform: translateX(-50%);
  }

  .ly-form .check-area .form-depth + .form-depth {
    margin-top: 0;
    margin-left: 2rem;
  }
  

  .ly-form .check-area .form-depth.depth02 {
    display: block;
  }

  .btn-ipform {
    height: 4.2rem;
    line-height: 4.2rem;
  }

  .app-contents .contents-area .title {
    font-size: 2.5rem;
  }
  .app-contents .contents-area .map-area .map-box .map-desc + .map {
    height: 25rem;
    margin-top: 3rem;
  }
  .ly-form .check-area.login {
    display: block;
  }
  .ly-form .check-area.login .btn-group {
    margin-top: 1rem;
  }
}