table {
  width: 100%;
  tr {
    th {
      height: 5.7rem;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 5.7rem;
      text-align: left;
    }
    td {
      height: 7.7rem;
      font-size: 1.5rem;
      line-height: 7.7rem;
      border-top: 0.1rem solid #b2b3b2;
    }
    &:last-child {
      td {
        border-bottom: 0.1rem solid #b2b3b2;
      }
    }
  }
}

.table-area {
  border-top: 0.2rem solid #000000;
}
.pagenation {
  text-align: center;
  padding: 7.7rem 0 8.3rem;
  a {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.4rem;
    &.on {
      color: #55bbb3;
      border: 0.1rem solid #55bbb3;
    }
  }
}
